<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diabetes Detection</title>
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename="lib/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename="css/style.css")}}" rel="stylesheet">
  <link href="{{url_for('static',filename="css/dashboard.css")}}" rel="stylesheet">
</head>
<body>
  <div class = "header_content">
    <header id="header">
      <div class="container-fluid">
        <div id="logo" class="pull-left">
          <h1><a href="/" class="scrollto">Diablo</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
        <nav id="nav-menu-container" >
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
  </div>
    <div class = "sidenav">
      <a href="details.html" target="iframe" class="link" >Details</a>
      <a href="detect.html" target="iframe" class ="link" >Detect</a>
    </div>
    <div class="main">
    <iframe src="detect.html" id="if" name="iframe" >
    </iframe>
  </div>
</body>
</html>
