<html>
<body>
<p><h1 align = "center">What is Diabetes?</h1></p>
<p>
Diabetes is a serious, lifelong condition where your blood glucose level is too high.
There are two main types,Type1 and Type2.
<br>
<h2>What causes diabetes?</h2>
What all types of diabetes have in common is that they cause people to have too much glucose (sugar) in their blood. But we all need some glucose. It’s what gives us our energy. We get glucose when our bodies break down the carbohydrates that we eat or drink. And that glucose is released into our blood.

We also need a hormone called insulin. It’s made by our pancreas, and it’s insulin that allows the glucose in our blood to enter our cells and fuel our bodies.

If you don’t have diabetes, your pancreas senses when glucose has entered your bloodstream and releases the right amount of insulin, so the glucose can get into your cells. But if you have diabetes, this system doesn’t work.
<br>
<h2>What is diabetes?</h2>
Diabetes is a serious, lifelong condition where your blood glucose level is too high. There are two main types,Type 1andType 2. They’re different conditions, but they’re both serious. There are some other rarer types of diabetes too.


<br>
<h2>What causes diabetes?</h2>
What all types of diabetes have in common is that they cause people to have too much glucose (sugar) in their blood. But we all need some glucose. It’s what gives us our energy. We get glucose when our bodies break down the carbohydrates that we eat or drink. And that glucose is released into our blood.

We also need a hormone called insulin. It’s made by our pancreas, and it’s insulin that allows the glucose in our blood to enter our cells and fuel our bodies.

If you don’t have diabetes, your pancreas senses when glucose has entered your bloodstream and releases the right amount of insulin, so the glucose can get into your cells. But if you have diabetes, this system doesn’t work.
<br>
<h2>Type 1 and Type 2</h2>
When you’ve got Type 1 diabetes, you can’t make any insulin at all. If you’ve got Type 2 diabetes, it’s a bit different. The insulin you make either can’t work effectively, or you can’t produce enough of it.

In both types of diabetes, because glucose can’t get into your cells, it begins to build up in your blood. And too much glucose in your blood causes a lot of different problems.

To begin with it leads to diabetes symptoms, like having to wee a lot, being incredibly thirsty, and feeling very tired. You may also lose weight, get infections like thrush or suffer from slow healing wounds.
<br>
<h2>Complications</h2>
Over a long period of time, high glucose levels in your blood can seriously damage your heart, your eyes, your feet and your kidneys. These are known as the complications of diabetes.

But with the right treatment and care, people can live a healthy life. And there's much less risk that someone will experience these complications.

Get more information on living with diabetes.
</p>
</body>
</html>
